PENDING SOLUTIONS/236A_BoyOrGirl.cpp
PENDING SOLUTIONS/467A_GeorgeAndAccommodation.cpp
PENDING SOLUTIONS/1283A_MinutesBeforeTheNewYear.c++
PENDING SOLUTIONS/1328A_DivisibiltyProblem.c++
PENDING SOLUTIONS/1872A_TwoVessels.c++
